
                <aside class="sidebar">
                  <nav class="sidebar-nav">
                      <ul class="metismenu" id="menu">
                        
                          <li class="active">
                              <a href="#"><i class="icon-grid"></i> <span class="nav-label"> Dashboard</span><span class="fa arrow"></span></a>
                             
                          </li>
                          <li class="active">
                              <a [routerLink]="['/']"><i class="icon-home"></i> <span class="nav-label"> Dashboard</span><span class="fa home"></span></a>                              
                          </li>
                          <li>
                              <a href="#"><i class="icon-basket"></i> <span class="nav-label"> Ecommerce</span><span class="fa arrow"></span></a>
                              <ul class="nav nav-second-level collapse">                               
                                  <li><a [routerLink] = "['/Products']">Product List </a></li>
                                  <li><a [routerLink] = "['/orders']">Orders </a></li>
                                  <li><a [routerLink] = "['/HowItWOrks']">How it Works</a></li>
                                  <li><a [routerLink] = "['/ContactUs']">Contact</a></li>
                              </ul>
                          </li>

                      </ul>
                      <!-- END SIDEBAR MENU -->
                      <!-- END SIDEBAR MENU -->
                  </nav>
                  <!-- END SIDEBAR -->
              </aside>
              <router-outlet></router-outlet>